/** CSS STYLE **/

@font-face {
    font-family: 'Neucha';
    src: url('Neucha-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
    --white: #fff;
    --white-transparent: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --dark-transparent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;

    --font-size: 16px;
    --line-height: 1.6em;
    --font-color: #2A2626;

    --line-height-titles: 1.2em;
    --h1-title-font-size: 72px;
    --h2-title-font-size: 60px;
    --h3-title-font-size: 34px;

    --max-width-section: 1100px;
    --text-align-section: center;
    --margin-top-section: 100px;
    --margin-bottom-section: 100px;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Regular', sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
}

.hello {
    display: block;

    color: #ff8282;
}

.title {
    font-family: 'Neucha', sans-serif;
    font-size: var(--h1-title-font-size);
    line-height: var(--line-height-titles);
    text-align: left;
}

.main-font-color {
    color: var(--main);
}

.section {
    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: var(--max-width-section);
}

.background-universal::before {
    content: "";
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -100;
}

.main-image {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
}

.flex {
    display: flex;
    margin-top: 250px;
}

.column-1 {
    margin-right: 30px;
}


.button {
    margin-top: 30px;
    display: block;
    width: 148px;
    height: 49px;
    text-transform: uppercase;
    background-color: var(--main);
    color: var(--white);
    border: none;
}