/** CSS STYLE **/

@font-face {
    font-family: 'Neucha';
    src: url('Neucha-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
    --white: #fff;
    --white-transparent: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --dark-transparent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;

    --font-size: 16px;
    --line-height: 1.6em;
    --font-color: #2A2626;

    --line-height-titles: 1.2em;
    --h1-title-font-size: 72px;
    --h2-title-font-size: 60px;
    --h3-title-font-size: 34px;

    --max-width-section: 1100px;
    --text-align-section: center;
    --margin-top-section: 100px;
    --margin-bottom-section: 100px;
}

body {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
}

.hello {
    display: block;

    color: #ff8282;
}

.title {
    font-family: 'Neucha', sans-serif;
    color: var(--main);
    font-size: var(--h1-title-font-size);
    line-height: var(--line-height-titles);
}

.section {
    max-width: var(--max-width-section);
    text-align: var(--text-align-section);
    margin-top: var(--margin-top-section);
    margin-bottom: var(--margin-bottom-section);
}